@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

:root {
    --primary-bgcolor: #040930;
    --secondary-bgcolor: #16113a;
    --blue: rgba(26, 26, 153, 0.763);
}

::-webkit-scrollbar {
    width: 0px;
} 

.linkColor {
    color: blue
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--secondary-bgcolor);
}

.graph-container {
    height: fit-content;
    max-width: 95%;
    width: 100%;
    background-color: var(--secondary-bgcolor);
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.ck-editor__top * {
    border: none !important;
}

.ck-editor__top {
    border: rgb(235, 235, 235) solid 1px !important;
    border-bottom: none !important;
    padding: 0.6rem 1rem !important;
}

.ck-content {
    border: rgb(235, 235, 235) solid 1px !important;
    color: black;
}


.ck-editor__editable {
    height: 300px;
    padding: 0.5rem 1rem !important;
}

.ck-editor__editable:focus {
    box-shadow: none !important;
}